<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather-App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/b1a8a7536f.js" crossorigin="anonymous"></script>
    <style>
        #menu-toggle:checked+#menu {
            display: block;
        }
    </style>
</head>

<body class='flex flex-col min-h-screen bg-teal-200 text-indigo-900'>
    {{>header}}
    <main class='bg-gray-100 flex-grow flex'>
        <div class="mx-4 sm:mx-8 lg:mx-16 my-2 sm:my-6 lg:my-8 ">
            <h1 class="text-center text-xl sm:text-2xl lg:text-3xl font-semibold">I am Maria del Carmen Santiago</h1>
            <img class="h-40 sm:h-48 md:h-56 lg:h-64 w-full object-contain mt-4 mb-6 sm:mb-8 md:mb-12 lg:mb-16"
                src="/img/hi.png" alt="picture of maria del carmen from santiagocodes" />
            <div class="leading-7 lg:text-xl leading-relaxed lg:leading-loose">
                <p>I am a junior level full-stack web developer based in Madrid, Spain.</p>
                <br>
                <p>This project was completed as part of Udemy's <span class="font-medium">The Complete Node.js
                        Developer Course</span> with Andrew Mead. I followed the course and expanded on it by displaying
                    additional information from the APIs and designing the page using tailwindCSS.</p>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>