<footer class="mt-4 flex flex-col text-center">
        <p class="font-semibold text-sm sm:text-base">Find me on the Web</p>
        <p class="text-xs -mt-1 sm:text-sm">@santiagocodes</p>
        <ul class="flex justify-center pt-1 pb-2 text-xs sm:text-base">
                <li class='pr-4 hover:text-indigo-300'><a href="https://twitter.com/maricstgo" target="_blank" class="">
                                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class='pr-4 hover:text-indigo-300'><a href="https://github.com/mc-santiago/" target="_blank"
                                class="">
                                <i class="fab fa-github fa-2x" aria-hidden="true"></i></a></li>
                <li class='hover:text-indigo-300'><a href="https://www.linkedin.com/in/mc-santiago" target="_blank"
                                class="">
                                <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
        </ul>
        <p class='text-indigo-100 text-xs sm:text-sm bg-indigo-900 pb-2 pt-1'>Created by: {{name}}</p>
</footer>