<header class="flex flex-wrap items-center bg-transparent px-2 md:px-6 py-2 md:py-3">

    <div class="flex-1 flex items-center">
        <img class="h-6 sm:h-8" src="/img/weather.png" alt="Weather Icon with Sun and Clouds.">
        <h1 class='ml-2 font-semibold text-lg sm:text-2xl'>Weather App</h1>
    </div>

    <label for="menu-toggle" class="pointer-cursor sm:hidden block ">
        <svg class="fill-current text-indigo-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden sm:flex sm:items-center sm:w-auto w-full" id="menu">
        <nav class=''>
            <ul class="sm:flex items-center justify-between text-base text-indigo-900 pt-2 sm:pt-0">
                <li><a href="/"
                        class="mt-0 block px-1 py-1 sm:mx-2 sm:px-2 font-semibold rounded hover:bg-indigo-900 hover:text-teal-100">Weather</a>
                </li>
                <li><a href="/about"
                        class="mt-0 block px-1 py-1 sm:mx-2 sm:px-2 font-semibold rounded hover:bg-indigo-900 hover:text-teal-100">About</a>
                </li>
                <li><a href="/help"
                        class="mt-0 block px-1 py-1 sm:mx-2 sm:px-2 font-semibold rounded hover:bg-indigo-900 hover:text-teal-100">Help</a>
                </li>
            </ul>
        </nav>
    </div>
</header>